/* Estilos globais que serão aplicados a toda a aplicação */
.orbit-container:hover .card-container {
    animation-play-state: paused !important;
  }

  .card-container:hover {
    animation-play-state: paused !important;
  }

  .card-container:hover .card-details {
    transform: translate(-50%, -50%) scale(1) !important;
    opacity: 1 !important;
  }
